ion-header {
  ion-toolbar {
    background-color: #f8f8f8; /* Color de fondo del toolbar */
    color: #333; /* Color del texto en el toolbar */
  }
}

ion-content {
  ion-searchbar {
    margin: 10px; /* Margen alrededor de la barra de búsqueda */
  }

  ion-list {
    ion-item {
      margin-bottom: 10px; /* Separación entre los items */
      --background: #fff; /* Fondo blanco para cada item */
      border-radius: 10px; /* Bordes redondeados */
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera para los items */

      ion-thumbnail {
        margin-top: 1px; /* Ajuste del margen superior */
        margin-bottom: 1px; /* Ajuste del margen inferior */
        margin-right: 14px; /* Separación de la imagen con el texto */
        width: 100px; /* Ancho del thumbnail */
        height: 100px; 

        img {
          border-radius: 10px; 
          object-fit: cover;
          height: auto;
          max-height: 100px;
          width: auto;
        }
      }

      ion-label {
        padding-top: 10px; 
        padding-bottom: 10px; 
        
        h2 {
          color: gray;
          font-size: 18px; 
          font-weight: bold;
        }
        
        p {
          font-size: 14px;
          color: gray; 
          strong {
            font-weight: bold; 
          }
        }
      }

      ion-button {
        margin-left: 10px;
        --color: #000;
        
        ion-icon {
          font-size: 20px;
        }
      }

      ion-button[color="danger"] {
        --ion-color-base: red;
      }
    }
  }
}
